.landing-page {
  max-width: 100%;
  text-align: center;
  padding-top: 5rem;
}

.landing-page h1 {
  font-size: 3rem;
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;
  font-weight: 500;
}

.landing-page p {
  width: 65%;
  font-size: 1.15rem;
  margin: 0.5rem auto;
}

.landing-page p a {
    color: #ccc;
    text-underline-offset: 0rem;
    transition: all ease 0.5s;
}

.landing-page p a:hover,
.landing-page p a:focus {
    letter-spacing: .05rem;
    text-underline-offset: 0.25rem;
}

.landing-page h2 {
  font-weight: 500;
  margin: 2rem auto;
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  text-decoration: none;
  position: relative;
  color: #3c008a;
  font-weight: 550;
  float: left;
}

.nav-menu a {
  text-decoration: none;
  display: block;
  position: relative;
  color: #7b909a;
  padding: 10px 15px;
  transition: 0.3s;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #009cea;
  text-decoration: none;
}

.nav-menu .drop-down ul {
  text-decoration: none;
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
}

.nav-menu .drop-down:hover > ul {
  text-decoration: none;
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  text-decoration: none;
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  text-decoration: none;
  font-size: 14px;
  text-transform: none;
  color: #003651;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #009cea;
  text-decoration: none;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

a {
  color: #ffffff; 
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}

.container-fluid {
  background-color: #f7efff;
  border-radius: 10px;
  margin-top: 10px;
  padding: 5px;
  justify-content: center;
  margin-left: 5px;
}

.ai-menus {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.ai-menus a {
  display: block;
  margin-bottom: 2rem;
  padding: 1rem;
  width: 45%;
  text-decoration: none;
  color: #f1f1f1;
  border: 1px solid #f1f1f1;
  border-radius: 8px;
  transition: all ease 0.5s;
}

.ai-menus a:hover,
.ai-menus a:focus {
  background: #f1f1f1;
  color: #212121;
  letter-spacing: 0.1rem;
}

@media screen and (max-width: 768px) {
  .landing-page p {
    width: 90%;
    font-size: 1.075rem;
  }

  .ai-menus {
    width: 80%;
    flex-direction: column;
  }

  .ai-menus a {
    width: 75%;
    margin: 1rem auto;
  }

  .ai-footer {
    font-size: 0.1rem;
    font-weight: 100;
    color: #ccc;
  }
}
